.container {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    /* display: grid;
    grid-template-areas: 
    "header"
    "content"
    "footer"
    "toolbar";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto auto; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: filter 0.35s ease-in-out;
}

.header {
    height: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    flex-grow: 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerTitle {
    font-size: 7vw;
    font-weight: 700;
    color: #0e86ff;
    letter-spacing: 2px;
}
.headerSubtitle {
    font-size: 3vw;
    font-weight: 400;
    color: #966700;
    letter-spacing: 2px;
}

.main {
    flex-grow: 1;
    margin-bottom: 5%;
    background-color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    flex-grow: 0;
    padding: 5% 0;
}


@media  (min-width: 600px) {

    .header {
        height: 12vw;
    }

    .headerTitle {
        font-size: 2.5em;
    }
    .headerSubtitle {
        font-size: 1.35em;
    }
}

