.container {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    /* display: grid;
    grid-template-areas: 
    "header"
    "content"
    "footer"
    "toolbar";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto auto; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    height: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    padding: 1% 0;
    box-shadow: 0 0 1.5vw 0 rgba(200, 200, 200, 0.815);
    flex-grow: 0;
    transition: filter 0.5s ease;
}

.headerTitle {
    font-size: 7vw;
    font-weight: 700;
    color: #0e86ff;
    letter-spacing: 2px;
}
.headerSubtitle {
    font-size: 3vw;
    font-weight: 400;
    color: #966700;
    letter-spacing: 2px;
}

.main {
    flex-grow: 1;
    margin-bottom: 5%;
    transition: filter 0.5s ease;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    flex-grow: 0;
    padding: 5% 0;
}

