.container {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

#opacity {
    background: rgba(0, 0, 0, 0.411) !important;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    padding: 1% 0;
    box-shadow: 0 0 20px 0 rgba(200, 200, 200, 0.815);
}

.headerTitle {
    font-size: 7vw;
    font-weight: 700;
    color: #0e86ff;
    letter-spacing: 2px;
}
.headerSubtitle {
    font-size: 3vw;
    font-weight: 400;
    color: #966700;
    letter-spacing: 2px;
}

.bottom {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    background-color: white;
    border-radius: 6vw 6vw 0 0;
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 0;
    background-color: #F4F4F4;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    border-top: 1px solid rgba(87, 87, 87, 0.205);
    box-shadow: 0 0 1vw 0 rgba(158, 158, 158, 0.568);
}
.navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 8%;
    font-size: 14px;
}


.show, .showContact {
    height: 70vh !important;
}

#contactMenu, #productsMenu {
    width: 100%;
    height: 0 ;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    border: none;
    border-radius: 5vw 5vw 0 0;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.titleMenu, .titleContact {
    width: 100%;
    height: 100%;
    border: none;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 3vw 3vw 0 0;
    border-bottom: 1px solid rgba(87, 87, 87, 0.205);
    display: flex;
    align-items: center;
    justify-content: center;
}
.closeMenu {
    position: absolute;
    right: 0;
    margin-right: 5%;
    font-size: 7vw;
    background: white;
}

.listArea {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: scroll;
}
.listGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 61vh;
    overflow-y: scroll;
    background-color: white;
}
.listMenu {
    background-color: white;
    width: 40%;
    padding: 3% 0;
    margin: 5% 3%;
    text-align: center;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.294);
    border-radius: 1vw 1vw 1vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icons {
    filter: invert(33%) sepia(94%) saturate(2475%) hue-rotate(201deg) brightness(108%) contrast(102%);
}

