

#land {
  min-height: 82vh;
  display: flex;
  flex-direction: column;
}

.image {
  min-height: 35vh;
}

.flexTitle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.landTitle {
  font-size: 11vw;
  padding: 3% 5%;
  line-height: 1.25;
}
.landTitle span {
  color: #0e86ff;
}

.section {
  text-align: justify;
  padding: 5% 5%;
}
.section:nth-child(2) {
  background-color: rgb(245, 245, 245);
}

.titles {
  font-size: 10vw;
  margin-bottom: 2%;
  text-align: left;
}

.images {
  padding: 0 !important;
}

.text {
  line-height: 175%;
}
