

#land {
  min-height: 82vh;
  display: flex;
  flex-direction: column;
}

.image {
  min-height: 35vh;
  width: 100%;
}

.flexTitle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  width: 100%;
}

.landTitle {
  font-size: 11vw;
  padding: 3% 5%;
  line-height: 1.25;
  width: 100%;
}
.landTitle span {
  color: #0e86ff;
}

.section {
  text-align: justify;
  padding: 5% 5%;
}
.section:nth-child(2) {
  background-color: rgb(245, 245, 245);
}

.titles {
  font-size: 10vw;
  margin-bottom: 2%;
  text-align: left;
}

.text {
  line-height: 175%;
}


@media  (min-width: 600px) {
  #land {
    flex-direction: row;
    align-items: center;
    min-height: auto;
    padding: 5% 5%;

  }
  .flexTitle > h2 {
    font-size: 2.5rem;
  }
  .image {
    min-height: auto;
  }

  .titles {
    font-size: 2.5em;
  }

  .nosotros {
    display: flex;
    align-items: center;
  }
  .nosotros p {
    width: 50%;
    margin-right: 5%;
  }

  .text {
    font-size: 1.25em;
  }
  
}